h1, .type-h1, .type-headline-lg {
    font-family: "Lexend Deca", sans-serif;
    font-size: 51.4285714286px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -2px;
}

h2, .type-h2, .type-headline-md {
    font-family: "Lexend Deca", sans-serif;
    font-size: 34.2857142857px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -1px;
}

h3, .type-h3, .type-headline-sm {
    font-family: "Lexend Deca", sans-serif;
    font-size: 22.8571428571px;
    line-height: 28px;
    font-weight: 700;
}

h4, .type-h4, .type-title-lg {
    font-family: "Lexend Deca", sans-serif;
    font-size: 22.8571428571px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

h5, .type-h5, .type-title-md {
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

h6, dt, .type-h6, .type-title-sm {
    font-family: "Lexend Deca", sans-serif;
    font-size: 17.1428571429px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

label, input[type="text"], input[type="number"], .type-label-lg {
    font-family: "Lexend Deca", sans-serif;
    font-size: 17.1428571429px;
    line-height: 20px;
    font-weight: 500;
}

.type-label-md {
    font-family: "Lexend Deca", sans-serif;
    font-size: 14.2857142857px;
    line-height: 18px;
    font-weight: 500;
}

.type-label-sm {
    font-family: "Lexend Deca", sans-serif;
    font-size: 11.4285714286px;
    line-height: 12px;
    font-weight: 500;
}

p, .type-body {
    font-family: "Lexend Deca", sans-serif;
    font-size: 17.1428571429px;
    line-height: 28px;
    font-weight: 500;
}
