h1, .type-h1, .type-headline-lg {
    font-family: "Lexend Deca", sans-serif;
    font-size: 2.8rem;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -1.5px;
}

h2, .type-h2, .type-headline-md {
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 700;
}

h3, .type-h3, .type-headline-sm {
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.35rem;
    line-height: 1.3;
    font-weight: 700;
}

h4, .type-h4, .type-title-lg,
h5, .type-h5, .type-title-md,
h6, dt, .type-h6, .type-title-sm {
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.95rem;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

label, input[type="text"], input[type="number"], .type-label-lg {
    font-family: "Lexend Deca", sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 500;
}

.type-label-md {
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.9rem;
    line-height: 1.3;
    font-weight: 500;
}

.type-label-sm {
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.8rem;
    line-height: 1.2;
    font-weight: 500;
}

p, .type-body {
    font-family: "Lexend Deca", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
}
