.tabs {
    display: flex;
    gap: 0.25rem;
}

.tabs .tab {
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 1rem;
    margin: 0;
    background-color: transparent;
    color: var(--color-on-background);
    border-bottom: 3px solid transparent;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.tabs .tab:first-child {
    border-top-left-radius: 0.5rem;
}

.tabs .tab:last-child {
    border-top-right-radius: 0.5rem;
}

.tabs .tab.selected {
    border-bottom: 3px solid var(--color-primary);
    font-weight: 700;
}

.tabs .tab:hover {
    background-color: var(--color-background-hover);
}
